<%= content_for :title, "Edit Film" %>

<% content_for :actions do %>
  <%= link_to 'Delete', @film, method: :delete, data: { confirm: 'Are you sure?' }, class: "button button-dangerous" %>
<% end %>

<%= simple_form_for @film do |f| %>
  <%= f.error_notification %>
  <%= f.association :category %>
  <%= f.association :category, as: :radio_buttons %>
  <%= f.input :name %>
  <%= f.input :synopsis, hint: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>".html_safe %>
  <div>
    <%= f.button :submit, value: "Save" %>
    <%= link_to "Cancel", f.object, class: "button button-secondary" %>
  </div>
<% end %>
